.mine {
    /* max-height: 5vw; */
    max-height: 0;
}

table,
tr,
td {
    border: 2px solid black;
    /* border-collapse: collapse; */
    border-style: outset;

}

td {
    height: 5vw;
    width: 5vw;
    text-align: center;
    /* font-size: 5vw */
    font-size: 0;
}

td:hover {
    /* cursor: pointer; */
}

.footer {
    font-family: Calibri;
}