:root {
    --font-size: 20px;
}


body {
    background-color: #FFDC7F;
}

.dark-mode {
    background-color: #16325B;
    color: #ffffff;
}

.td.dark-mode {
    background-color: #FFDC7F;
    color: #16325B;

}

.dark {
    margin: auto;
    text-align: center;
}

.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #16325B;
    margin: auto;
    text-align: center;
    transition: 0.2s;
}

.header.dark-mode {
    color: #ffffff;
}

.header:hover {
    color: hwb(216 3% 25%);
    /* font-size: larger; */
}

.header.dark-mode:hover {
    color: #FFDC7F;
}

.extras {
    max-height: 100px;
    text-align: center;
    margin: auto;
}


.buttons {
    margin: auto;
    text-align: center;
}

button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #78B7D0;
    transition: 0.25s;
    border-radius: 10vw;
    padding: 1vw;
    margin-inline-start: 1vw;

}

button:hover {
    background-color: #227B94;
    cursor: pointer;

}

.extra-bottom {
    min-height: 20px;
    padding: 10px;
}

.lifes {
    text-align: center;
    margin: auto;
    font-size: var(--font-size);
    transition: 0.5s;

}

.lifes:hover {
    cursor: default;
    font-size: var(--font-size);
}

.smiley {
    background-color: #78B7D0;
    border-radius: 8px;
    inset-inline-start: 150px;
    font-size: var(--font-size);
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;

}

.smiley:hover {
    cursor: pointer;
    background-color: #227B94;
}

.hints {
    background-color: #FFDC7F;
    border: #FFDC7F solid 0px;
}

.hints.dark-mode {
    background-color: #16325B;

}

.hints:hover {
    cursor: auto;
    background-color: #FFDC7F;

}


.hints.dark-mode:hover {
    cursor: auto;
    background-color: #16325B;

}

.hint {

    border-radius: 8px;
    font-size: var(--font-size);
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
    background-color: #78B7D0;

}

.hint:hover {
    cursor: pointer;
    background-color: #227B94;

}

.hint.clicked {
    background-color: #227B94
}

.hint1 {
    inset-inline-start: 30vw;
}

.hint2 {
    inset-inline-start: 38vw;
}

.hint3 {
    inset-inline-start: 46vw;
}

.safe-click {
    border-radius: 8px;
    /* font-size: 4vw; */
    background-color: #78B7D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: var(--font-size);
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
}

.safe-click:hover {
    cursor: pointer;
    background-color: #227B94;
}

.manual {
    border-radius: 8px;
    /* font-size: 4vw; */
    background-color: #78B7D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: var(--font-size);
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
}

.manual:hover {
    cursor: pointer;
    background-color: #227B94;

}

.manual.clicked {
    background-color: #227B94;

}

.undo {
    border-radius: 8px;
    background-color: #78B7D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
}

.undo:hover {
    cursor: pointer;
    background-color: #227B94;

}

.mega {
    border-radius: 8px;
    background-color: #78B7D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
}

.mega:hover {
    cursor: pointer;
    background-color: #227B94;

}

.mega.clicked {
    background-color: #227B94;

}

.exterminator {
    border-radius: 8px;
    background-color: #78B7D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);
    font-weight: bold;
    text-align: center;
    margin: auto;
    transition: 0.5s;
    border: #16325B solid 2px;
}

.exterminator:hover {
    cursor: pointer;
    background-color: #227B94;

}

.exterminator.clicked {
    background-color: #227B94;

}


.game {
    max-height: 1000px;
    /* border: black 2px solid; */
    text-align: center;
    /* width: 250px; */
    margin: auto;
    padding-block-start: 70px;
}

table {
    background-color: #227B94;


}

table,
tr,
td {
    border: 2px solid black;
    /* border-collapse: collapse; */
    text-align: center;
    margin: auto;
    border-radius: 5px;


}

.mine {
    /* max-height: 5vw; */
    max-height: 0;
}

.hide {
    display: none;
}

.flag {
    max-height: var(--font-size);
}

td {
    height: 20px;
    width: 20px;
    border-style: outset;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 5vw */
    font-size: 0;
    font-weight: bold;
    background-color: #16325B;
}

td:hover {
    /* cursor: pointer; */
    border-style: inset;


}



.clicked {
    background-color: #78B7D0;
    border-style: inset;
    transition: 0.3s;

}

.clicked-manual {
    background-color: hsl(44, 100%, 68%);
}


.score {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    /* color: #16325B; */
    margin: auto;
    text-align: center;
    transition: 0.2s;
}

.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #16325B;
    transition: 0.7s;
}

.footer:hover {
    color: hwb(216 3% 25%);
}

.footer.dark-mode {
    color: #ffffff;
}

.footer.dark-mode:hover {
    color: #FFDC7F;
}

.safe-clicked {
    background-color: red;
}